# ===================== MySQL =====================
MYSQL_HOST=114.213.146.102
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=aibs
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_PUBLIC_PORT=3306
REDIS_PUBLIC_PORT=6379
API_PUBLIC_PORT=3000
WEB_PUBLIC_PORT=8080
WEB_API_BASE_URL=""

DIFY_API_BASE_URL="http://36.138.68.127/v1"
DIFY_API_KEY=""
DIFY_INTENT_API_KEY=""

OAUTH_AUTH_SERVER="https://ids.ahau.edu.cn/cas/oauth2.0"
OAUTH_CLIENT_ID="xgaigc"
OAUTH_CLIENT_SECRET=""
OAUTH_REDIRECT_URI="https://xgaigc.ahau.edu.cn/callback"
OAUTH_SCOPE="cas_get_userInfo"
