# ===================== MySQL =====================
MYSQL_HOST=114.213.146.102
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=aibs
DIFY_API_BASE_URL="http://36.138.68.127:8001"
DIFY_API_KEY=""
DIFY_INTENT_API_KEY=""
DIFY_APP_ID=""
DIFY_TIMEOUT_MS=15000
OAUTH_AUTH_SERVER="https://ids.example.edu.cn/cas/oauth2.0"
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_REDIRECT_URI="https://example.edu.cn/callback"
OAUTH_SCOPE="cas_get_userInfo"
PORT=3000
